<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="fragments/header :: header"></head>

<body>
<!-- Include the header fragment -->
<div th:insert="fragments/menu :: menu"></div>
<main>
    <div class="container" >
        <div sec:authorize="isAuthenticated()" >
            <form action="#" th:action="@{/profile/new}" th:object="${profile}"
                  method="post">

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" class="form-control" th:field="*{first_name}">
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" class="form-control" th:field="*{last_name}">
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" id="dateOfBirth" class="form-control" th:field="*{dateOfBirth}">
                </div>

                <div class="form-group">
                    <label for="sex">Sex</label>
                    <input type="text"id="sex" class="form-control" th:field="*{sex}">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control" th:field="*{phoneNumber}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" th:field="*{email}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</main>

<!-- Include the footer fragment -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">

</script>
</body>
</html>